* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 30px;

}


window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cad3f5;

}

#tooltip {
    opacity: 0.9;
    background: #24273a;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    
}

#tray {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 10px 10px 10px 10px;
}

#custom-gpu-usage {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

#bluetooth {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 8px;
    border-radius: 0px 10px 10px 0px;
}

#custom-temp {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}

#battery {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 10px 10px 0px;
}

#pulseaudio {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}

#backlight {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}

#custom-updates {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#network {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}

#memory {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}
#cpu {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}
#custom-launcher {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 8px;
    margin-right: 0px;
    border-radius: 10px 0px 0px 10px;
}
#clock{
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px 10px 10px 10px;
}

#custom-divider {
    background: #24273a;
    opacity: 0.9;
    padding: 0px 10px;
    margin-top: 8px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 0px 0px 0px 0px;
}
